/**
 * @file
 * Standardize styling of HTML elements.
 */

/* Unset interfering browser defaults. */
html,
body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
ol,
ul,
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}

/* Standardize font styles. We target form controls specifically as browsers give them special treatment. */
body,
input,
select,
textarea {
  font-size: 16px;
  font-family: serif;
}
body,
textarea {
  line-height: 1;
}

/* Standardize whitespace around block-level elements. */
p,
blockquote,
pre,
dl,
ol,
ul,
table {
  margin-bottom: 1em;
}

blockquote {
  margin-right: 2em;
  margin-left: 2em;
}

dd,
ol,
ul {
  margin-left: 2em; /* LTR */
}
/* Nested lists must generally not have a vertical margin as it would create the illusion that the parent list was closed. */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* Table styling is standardized in the system module; we put our own styles on top of it. */
table {
  width: 100%;
}
caption {
  text-align: left; /* LTR */
}
